.playback-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.buttons {
    background-color: var(--color-light);
    height: 6vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;

    padding: 0 10px;
    padding-bottom: 3px;
    font-size: 0.8rem;
}

/* Styling for the buttons */
.buttons button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    fill: white;

    filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, 1));
}

.buttons button:hover {
    color: white;
    filter: drop-shadow( 0px 0px 2px rgba(255, 255, 255, 0.1))
}

/* Styling for the slider */
.buttons input[type="range"] {
    width: 60%;
    margin: 0 10px;
}

.buttons img {
    fill: white;
    color: white;
}

#prev-frame, #next-frame {
    fill: white;
    scale: 1.75;
}

#play-pause {
    scale: 2.25;
}


.playback-buttons {
    display: flex;
    flex-direction: row;

    gap: 15px;

    margin-top: 6px;
}