.playback-controls {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 5vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Styling for the buttons */
.playback-controls button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.playback-controls button:hover {
    color: #ccc;
}

/* Styling for the slider */
.playback-controls input[type="range"] {
    width: 60%;
    margin: 0 10px;
}