.nav {
  height: 5vh;
}


body {
  height: 90vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50vw); /* Two columns */
  grid-template-rows: repeat(2, 45vh); /* Two rows */
  height: 100%;
}

.window {
  border: 1px solid #ccc;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.window .dropdown {
  position: absolute;
  top: 0;
  right: 0;

  z-index: 10;
}